* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.back-top {
  position: fixed;
  bottom: -60px;
  right: 20px;
  background-color: #006c7a;
  border: none;
  color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0;
  /* visibility: hidden; */
}

.back-top.show {
  /* display: flex */
  opacity: 0.7;
  bottom: 20px;
  /* visibility: visible; */
}

.back-top:hover {
  opacity: 1;
  background-color: #004d56;
}

.back-top i {
  font-size: 20px;
}

.back-top:hover i {
  animation: swing 0.7s infinite alternate;
}

@keyframes swing {
  from {
    transform: translateY(-3px)
  }

  to {
    transform: translateY(3px)
  }
}