@import "tailwindcss";

:root {
  --main-color: 251 44 54;
}

.bg {
  background-color: rgb(var(--main-color) / 0.1);
}

form {
  background-color: rgb(var(--main-color) / 0.2);
}

form button,
.btn {
  background-color: rgb(var(--main-color));
}

/* .btn-success {
  @apply bg-green-500 text-white font-bold py-2 px-4 rounded;
} */